.table {
  width: 100%;

  thead {
    border-bottom: 2px solid theme('colors.gtay.500');

  }

  th, td {
    padding: 0.5rem 1rem;
  }

  tbody {
    th, td {
      border-bottom: 1px solid theme('colors.gtay.500');
    }

    tr:last-child {
      th, td {
        border: none;
      }
    }
  }


}
