/* purgecss start ignore */
@import 'base/variables';
@import 'base/functions';

@import 'components/popup';
@import 'components/table';
@import 'components/select';

body {
  background-color: theme('colors.gray.900');
  color: theme('colors.gray.200');
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* purgecss end ignore */
